.global {
    cursor: pointer;
    margin: -1rem 0;
    border-radius: var(--radius);
    user-select: none;
    transition: 0.2s transform;
}

.global:hover {
    transform: scale(1.025);
}

.global_city {
    justify-content: space-around;
    margin: 0 0.25rem;
    border-radius: var(--radius);
}

.global-glass_img {
    height: 2rem;
    margin: 0.25rem 1rem;
}

.global-aqius {
    margin: 0 0.5rem;
    padding: 0.25rem 0;
    flex-direction: column;
    font-size: 1.5rem;
}

.glass-nr {
    width: 2rem;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.25rem;
    border-radius: var(--radius);
}

.global-glass_small {
    width: 10rem;
    flex-direction: column;
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    border-radius: var(--radius);
}

.glass-small_font {
    font-size: 0.85rem;
}

@media screen and (min-width: 350px) and (max-width: 800px) {
    .global-glass_img {
        display: none;
    }

    .global-aqius {
        font-size: 1.25rem;
    }
    
    .global-glass_small {
        width: 6rem;
        font-size: 1rem;
    }

    .glass-small_font {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 349px) {
    .global {
        margin: 0;
        border-radius: var(--radius);
        user-select: none;
    }

    .global-glass_img {
        display: none;
    }

    .global-aqius {
        font-size: 1.25rem;
    }
    
    .global-glass_small {
        width: 6rem;
        font-size: 1rem;
    }

    .glass-small_font {
        font-size: 0.75rem;
    }
}