.weather_img {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.25rem;
    margin-right: 1rem;
    border: 1px solid var(--weather-img);
    border-radius: var(--radius);
}

.celcius {
    align-self: center;
    font-size: 1.75rem;
}

.celcius-symbol {
    font-size: 1.45rem;
}

.weather_city {
    margin: 0 1rem;
}