.air__pollution {
    width: 100%;
    flex-direction: column;
    text-align: center;
    user-select: none;
}

.air__pollution-table {
    margin: 0 0 1rem;
    width: 80%;
}

.air__pollution-tr {
    text-align: center;
    background-color: var(--air-pollution-table);
}

.air__pollution-td {
    min-width: 4rem;
}

.air__pollution-th {
    min-width: 8rem;
    font-weight: 600;
    padding: 0.75rem;
}

.td-border-tl {
    border-top-left-radius: var(--radius);
}

.td-border-tr {
    border-top-right-radius: var(--radius);
}

.td-border-bl {
    border-bottom-left-radius: var(--radius);
}

.td-border-br {
    border-bottom-right-radius: var(--radius);
}