.air__pollution {
    width: 100%;
    flex-direction: column;
    user-select: none;
}

.air__pollution-table {
    margin: 0 0 1rem;
}

.air__pollution-tr {
    text-align: center;
    background-color: var(--weather-hu);
}

.air__pollution-table > td:first-child {
    border-top-left-radius: var(--radius);
}

.air__pollution-td {
    width: 4rem;
}

.air__pollution-th {
    width: 8rem;
    font-weight: 600;
    padding: 0.75rem;
}