.window {
    width: 100%;
    padding: 1rem;
}

.window_module {
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5rem 0.25rem;
    padding: 0.5rem;
    background-color: var(--color-window-module);
    box-shadow: var(--box-shadow);
}

.weather-box {
    flex-direction: column;
    align-items: center;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;

    color: var(--color-text);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}