.chemical {
    animation: slowOpenWindow 0.2s ease-in;
    position: absolute;
    top: -8rem;
    right: -8rem;
    left: 12rem;
    z-index: 1;
}

.chemical-box_p {
    padding: 0 0.5rem;
} 

.chemical-box th {
    width: 8.5rem;
    text-align: left;
    font-size: 0.85rem;
    vertical-align: top;
}

@media screen and (max-width: 800px) {
    .chemical {
        top: 0;
        left: 0;
        right: 0;
        height: max-content;
    }
}