@keyframes slowOpenWindow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popUp {
    overflow: hidden;
    animation: slowOpenWindow 0.2s ease-in;
    position: absolute;
    top: -8rem;
    right: -8rem;
    left: 12rem;
    z-index: 1;
}

.popUp-ranking {
    position: absolute;
    top: 0;
    left: -10rem;
}

.popUp-box {
    width: 100%;
    padding: 0 0.5rem;
}

.popup-box__tr > th {
    width: 8rem;
    text-align: left;
}

.popUp-img {
    margin: 0 1rem;
    width: 2.5rem;
}

@media screen and (max-width: 800px) {
    .popUp {
        top: 0;
        right: 0;
        left: 0;
    }
    
    .popUp-box {
        padding: 0.5rem;
    }
}