.App {
  width: 100%;
}

.container-lg {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.link {
  margin: 0.5rem;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  transition: 0.3s all;
}

.link:hover {
  color: var(--color-text-hover);
}

.small-font {
  font-size: 0.85rem;
}