:root {
  --color-body-bg: rgb(240, 255, 246);
  --color-header-bg: rgb(240, 255, 246);

  --color-primary: rgba(60, 127, 204, 1);
  --color-accent: rgb(0, 194, 213);
  --color-accent-opacity: rgba(0, 194, 213, 0.4);
  --color-third: #BF3E8E;

  --color-text: #002843;
  --color-text-hover: rgb(21, 175, 85);

  --color-logo: #00A3E0;
  --color-home-title: rgba(255, 255, 255, 0.699);

  --header-height: 5rem; 
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Dosis', sans-serif;
	src: url('../assets/fonts/Dosis-VariableFont_wght.ttf') format('truetype') tech('variations');
  font-style: normal;
  font-weight: 1 900;

}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-body-bg);
}