:root {
  --color-body-bg: rgb(240, 253, 255);
  --color-header-bg: rgb(240, 253, 255);  
  --color-window-module: #ffffff;

  --color-popup: rgb(172, 234, 255);

  --color-primary: #3c7fcc;
  --color-white: #FFF;

  --weather-img: rgb(104, 173, 149);
  --weather-hu: rgba(153, 211, 245, 0.7);
  --weather-pr: rgba(65, 199, 243, 0.7);
  --weather-ws: rgba(0, 216, 230, 0.7);
  --weather-wd: rgba(0, 234, 185, 0.7);
  --weather-arrow: #00C9B9;

  --legend-good: rgb(176, 250, 162);
  --legend-moderate: rgb(250, 236, 165);
  --legend-semi-unhealthy: rgb(238, 195, 134);
  --legend-unhealthy: rgb(248, 194, 191);
  --legend-very-unhealthy: rgb(245, 159, 156);
  --legend-hazardous: rgb(240, 193, 234);
  
  --color-text: #000000;
  --color-text-hover: rgb(42, 207, 78);

  --color-logo: #00A3E0;
  --color-home-title: rgba(255, 255, 255, 0.699);

  --box-shadow: 
  -8px -8px 20px 0 #fff9,
  -6px -6px 6px 0 #fff9,
  8px 8px 20px 0 #0001,
  5px 5px 6px 0 #0001,
  inset 0 0 0 0 #fff9,
  inset 0 0 0 0 #0001,
  inset 0 0 0 0 #0001;

  --header-height: 5rem; 
  --radius: 6px;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-body-bg);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(15, 15, 131);
  font-weight: 500;
}

a:hover {
  color: var(--color-text-hover);
}