:root {
  --color-body-bg: rgb(240, 253, 255);
  --color-header-bg: rgb(240, 255, 246);  
  --color-window-module: #ffffff;

  --color-primary: rgba(60, 127, 204, 1);
  --color-white: #FFF;

  --weather-img: #628DE9;
  --weather-hu: #00a2ff;
  --weather-pr: #00C0FF;
  --weather-ws: #00D8E6;
  --weather-wd: #00EAB9;

  --legend-good: #9BF68A;
  --legend-moderate: #F8E277;
  --legend-semi-unhealthy: #D9A152;
  --legend-unhealthy: #f89993;
  --legend-very-unhealthy: #fd6f6a;
  --legend-hazardous: #d692ce;
  
  --color-text: #000000;
  --color-text-hover: rgb(42, 207, 78);

  --color-logo: #00A3E0;
  --color-home-title: rgba(255, 255, 255, 0.699);

  --box-shadow: 
  -8px -8px 20px 0 #fff9,
  -6px -6px 6px 0 #fff9,
  8px 8px 20px 0 #0001,
  5px 5px 6px 0 #0001,
  inset 0 0 0 0 #fff9,
  inset 0 0 0 0 #0001,
  inset 0 0 0 0 #0001;

  --header-height: 5rem; 
  --radius: 6px;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-body-bg);
}