.legend {
    cursor: pointer;
    justify-content: space-between;
    width: 8.5rem;
    height: 2.5rem;
    padding: 0 0.75rem;
    margin: 0.25rem;
    font-size: 0.85rem;
    font-weight: 600;
    user-select: none;
    border-radius: var(--radius);
    transition: 0.5s all;
}

.legend:hover {
    transform: scale(0.95);
    box-shadow: var(--box-shadow);
}

.legend__section {
    position: relative;
}